Vamos proteger o arquivo .htaccess de acesso não autorizado. Existem várias maneiras de manipular um site usando um arquivo .htaccess e queremos garantir 
que o próprio arquivo esteja protegido. O código a seguir impedirá que usuários externos tentem acessar o arquivo.

We will protect the .htaccess file from unauthorized access. There are several ways to manipulate a website using an .htaccess file and we want to make sure
that the file itself is protected. The following code will prevent external users from trying to access the file.

# BLOQUEAR ACESSO A UM ARQUIVO EM .HTACCESS #
# BLOCKING ACCESS TO A .HTACCESS FILE #
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
